Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.DS_Store
._DS_Store
._*
node_modules/
.project
dist
build
dist/*
src/pack/routers.js
*/routers.js
src/component/
!src/component/README.md
yarn.lock
npm-debug.log
/._node_modules
