html,body{background:#f6f8f9;font-family: Microsoft Yahei,"微软雅黑",Verdana,Arial,Helvetica,sans-serif;}

.main_editer{margin:30px auto;position:relative;width:762px;}
.mce-flow-layout-item.mce-last{display:none;}

.edit_others_w{width:760px;border-top:1px solid #e4e4e4;height:149px;box-sizing:border-box;position:absolute;left:1px;top:47px;z-index:1000;background:#fff;}
.edit_others{margin:0px 60px;border-bottom:1px solid #e4e4e4;height:147px;padding-top:1px;}
.edit_others_w .zt_t_input{height:32px;line-height:32px;padding:15px 0px;font-size:22px;color:#1a1a1a;font-weight:400;border:0px;width:640px;display:block;background:none;margin-top:25px;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-box-shadow: 0 0 0px 1000px white inset;
border: 1px solid #fff!important;}
.edit_others_w .zt_au_input{height:24px;line-height:24px;padding:2px 0px;font-size:16px;color:#1a1a1a;font-weight:400;border:0px;width:640px;display:block;background:none;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}





.nzt_main{padding:30px 60px;}

.ztmb_listw{}
.ztmb_listitem{width:300px;height:300px;box-sizing:border-box;border:1px solid #e4e4e4;background:#fff;margin:16px 32px 16px 0px;display:inline-block;vertical-align:top;position:relative;}
.ztmb_listitem .w1{height:255px;width:100%;position:relative;overflow:hidden;}
.ztmb_listitem .w1 h1{font-size:16px;height:60px;line-height:60px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0px 20px;color:#1a1a1a;}
.ztmb_listitem .w1 img{display:block;width:175px;height:175px;margin:0px auto;}
.ztmb_listitem .w1 .cover{height:255px;width:100%;background:rgba(0,0,0,0.6);position:absolute;left:0px;top:100%;opacity:0;transition:all ease 0.3s;}
.ztmb_listitem .w1 .cover a{display:block;height:255px;width:100%;text-align:center;line-height:255px;color:#fff;font-size:16px;}
.ztmb_listitem:hover .cover{top:0%;opacity:1;}
.ztmb_listitem .w2{height:42px;width:100%;position:relative;border-top:1px solid #e4e4e4;}
.ztmb_listitem .w2 p{color:#999;font-size:13px;line-height:42px;height:42px;width:220px;padding:0px 0px 0px 15px;}
.ztmb_listitem .w2 .btns{position:absolute;right:8px;bottom:8px;text-align:right;display:none;}
.ztmb_listitem:hover .btns{display:block;}
.ztmb_listitem .w2 .btns a{display:block;height:24px;width:24px;display:inline-block;vertical-align:top;margin-right:4px;}
.ztmb_listitem .w2 .btns a.edit{background:url(../images/mbicons.png) 0px -24px no-repeat;background-size:24px 96px;}
.ztmb_listitem .w2 .btns a.edit:hover{background:url(../images/mbicons.png) 0px -72px no-repeat;background-size:24px 96px;}
.ztmb_listitem .w2 .btns a.del{background:url(../images/mbicons.png) 0px 0px no-repeat;background-size:24px 96px;}
.ztmb_listitem .w2 .btns a.del:hover{background:url(../images/mbicons.png) 0px -48px no-repeat;background-size:24px 96px;}



.blackbg{height:100%;width:100%;background:rgba(0,0,0,0.6);position:fixed;left:0px;top:0px;z-index:2000;}
.alertbox{background:#fff;border-radius:6px;overflow:hidden;position:fixed;left:50%;top:50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);z-index:2001;}
.alertbox h1{font-size:24px;color:#1a1a1a;text-align:center;line-height:60px;height:60px;padding-top:30px;}
.alertbox p{font-size:16px;color:#787878;text-align:center;line-height:24px;padding:20px 40px;}
.alertbox p img{height:44px;width:44px;display:inline-block;vertical-align:middle;}

.alertbox .inputw{height:36px;width:36px;margin:14px 40px;width:420px;}
.alertbox .inputw input[type="text"]{height:40px;line-height:20px;padding:9px;border:1px solid #e4e4e4;box-sizing:border-box;font-size:16px;width:100%;display:inline-block;vertical-align:top;}


.alertbox .btn{height:36px;width:100px;color:#fff;line-height:36px;text-align:center;background:#353843;border-radius:1px;margin:20px auto 50px;display:block;font-size:14px;position:absolute;left:50%;bottom:0px;margin-left:-50px;}
.alertbox .btn:hover{background:#000;}
.alertbox .shutbtn{position:absolute;right:15px;top:15px;height:40px;line-height:40px;text-align:center;color:#1a1a1a;font-size:20px;width:40px;cursor:pointer;}
.alertbox .shutbtn:hover{background:rgba(0,0,0,0.1);}

.alertbox .mbbox{text-align:center;padding-top:20px;}
.alertbox .mbbox .mbitem{display:inline-block;vertical-align:top;width:200px;margin:0px 20px;position:relative;cursor:pointer;}
.alertbox .mbbox .mbitem img{display:inline-block;width:200px;}
.alertbox .mbbox .mbitem .cover{display:none;height:100%;width:100%;background:rgba(0,0,0,0.6) url(../images/checkedtips.png) center no-repeat;background-size:50% auto;position:absolute;left:0px;top:0px;}
.alertbox .mbbox .mbitem.checked .cover{display:block;}




.nzt_maintitle{font-size:24px;font-weight:600;color:#1a1a1a;padding:0px 0px;line-height:60px;height:60px;}

.ztliststylesw{display:inline-block;vertical-align:top;height:20px;margin-top:23px;font-size:0px;}
.ztliststyles_1{height:16px;width:16px;display:inline-block;vertical-align:top;margin-left:20px;background:url(../images/liststyleicon.png) 0px 0px no-repeat;background-size:16px 64px;cursor:pointer;}
.ztliststyles_1.current{background:url(../images/liststyleicon.png) 0px -16px no-repeat;background-size:16px 64px;}
.ztliststyles_2{height:16px;width:16px;display:inline-block;vertical-align:top;margin-left:6px;background:url(../images/liststyleicon.png) 0px -32px no-repeat;background-size:16px 64px;cursor:pointer;}
.ztliststyles_2.current{background:url(../images/liststyleicon.png) 0px -48px no-repeat;background-size:16px 64px;}



.zt_listw{}
.ztlist_nocontip{width:100%;height:200px;position:relative;}
.ztlist_nocontip p{position:absolute;left:50%;top:50%;display:inline-block;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);color:#999;font-size:16px;}

.zt_listitem{width:300px;box-sizing:border-box;border:1px solid #e4e4e4;background:#fff;margin:16px 32px 16px 0px;display:inline-block;vertical-align:top;position:relative;}
.zt_listitem .w1{width:100%;position:relative;overflow:hidden;height:178px;}
.zt_listitem .w1 h1{font-size:16px;height:60px;line-height:60px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0px 20px;color:#1a1a1a;}

.zt_listitem .w1 img{display:block;width:270px;height:118px;background:#e4e4e4;margin:0px auto;}
.zt_listitem .w1 .cover{height:178px;width:100%;background:rgba(0,0,0,0.6);position:absolute;left:0px;top:100%;opacity:0;transition:all ease 0.3s;}
.zt_listitem .w1 .cover a{display:block;height:178px;width:100%;text-align:center;line-height:178px;color:#fff;font-size:16px;}
.zt_listitem:hover .cover{top:0%;opacity:1;}
.zt_listitem .w2{height:42px;width:100%;position:relative;}
.zt_listitem .w2 p{color:#999;font-size:13px;line-height:42px;height:42px;width:220px;padding:0px 0px 0px 15px;}
.zt_listitem .w2 .btns{position:absolute;right:8px;bottom:8px;text-align:right;display:none;}
.zt_listitem:hover .btns{display:block;}

.zt_listitem .w2 .btns a{display:block;height:24px;width:24px;display:inline-block;vertical-align:top;margin-right:4px;}
.zt_listitem .w2 .btns a.change{background:url(../images/changeicon.png) 0px -0px no-repeat;background-size:24px 48px;}
.zt_listitem .w2 .btns a.change:hover{background:url(../images/changeicon.png) 0px -24px no-repeat;background-size:24px 48px;}
.zt_listitem .w2 .btns a.edit{background:url(../images/mbicons.png) 0px -24px no-repeat;background-size:24px 96px;}
.zt_listitem .w2 .btns a.edit:hover{background:url(../images/mbicons.png) 0px -72px no-repeat;background-size:24px 96px;}
.zt_listitem .w2 .btns a.del{background:url(../images/mbicons.png) 0px 0px no-repeat;background-size:24px 96px;}
.zt_listitem .w2 .btns a.del:hover{background:url(../images/mbicons.png) 0px -48px no-repeat;background-size:24px 96px;}


.zt_listitem_fortjw:hover{cursor:pointer;border:1px solid #00c1de;}
.tjw_cover{position:absolute;left:0px;top:0px;background:rgba(0,0,0,0.6) url(../images/checkedtips.png) center no-repeat;background-size:auto 20%;display:block;z-index:1000;height:100%;width:100%;display:none;}
.current .tjw_cover{display:block;}
.rowstyle .tjw_cover{background-size:auto 36.66666%;}


.zt_listw.rowstyle{border:1px solid #e4e4e4;margin-top:16px;font-size:0px;}
.rowstyle .zt_listitem{width:100%;box-sizing:border-box;border:0px solid #e4e4e4;border-bottom:1px solid #e4e4e4;background:#fff;margin:0px;display:block;vertical-align:top;position:relative;height:120px;}
.rowstyle .zt_listitem:last-child{border-bottom:0px;}
.rowstyle .zt_listitem .w1{width:60%;position:relative;overflow:hidden;padding-left:200px;box-sizing:border-box;display:inline-block;vertical-align:top;height:120px;}
.rowstyle .zt_listitem .w1 h1{font-size:16px;height:auto;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:normal;margin:0px 20px;color:#1a1a1a;padding:20px 0px;display:inline-block;vertical-align:middle;}
.rowstyle .zt_listitem .w1 img{display:block;width:auto;height:80px;width:180px;background:#e4e4e4;margin:0px auto;position:absolute;left:20px;top:20px;}
.rowstyle .zt_listitem .w1 .cover{height:120px;width:100%;background:rgba(0,0,0,0);position:absolute;left:0px;top:0%;opacity:0;transition:all ease 0.3s;}
.rowstyle .zt_listitem .w1 .cover a{display:block;height:120px;width:100%;text-align:center;line-height:120px;color:#fff;font-size:16px;opacity:0;}
.rowstyle .zt_listitem:hover .cover{top:0%;opacity:1;background:rgba(0,0,0,0.0);}
.rowstyle .zt_listitem .w1:hover .cover{top:0%;opacity:1;background:rgba(0,0,0,0.03);}

.rowstyle .zt_listitem .w2{height:120px;width:39%;position:relative;display:inline-block;vertical-align:top;}
.rowstyle .zt_listitem .w2 p{color:#999;font-size:13px;line-height:24px;height:auto;width:60%;padding:0px 0px 0px 0px;text-align:center;display:inline-block;vertical-align:middle;margin-top:48px;}

.rowstyle .zt_listitem .w2 .btns{position:relative;right:auto;bottom:auto;text-align:center;width:38%;display:inline-block;vertical-align:middle;height:24px;margin-top:48px;}
.rowstyle .zt_listitem:hover .btns{display:inline-block;}
.rowstyle .zt_listitem .w2 .btns a{display:block;height:24px;width:24px;display:inline-block;vertical-align:top;margin-right:4px;}
.rowstyle .zt_listitem .w2 .btns a.change{background:url(../images/changeicon.png) 0px -0px no-repeat;background-size:24px 48px;}
.rowstyle .zt_listitem .w2 .btns a.change:hover{background:url(../images/changeicon.png) 0px -24px no-repeat;background-size:24px 48px;}
.rowstyle .zt_listitem .w2 .btns a.edit{background:url(../images/mbicons.png) 0px -24px no-repeat;background-size:24px 96px;}
.rowstyle .zt_listitem .w2 .btns a.edit:hover{background:url(../images/mbicons.png) 0px -72px no-repeat;background-size:24px 96px;}
.rowstyle .zt_listitem .w2 .btns a.del{background:url(../images/mbicons.png) 0px 0px no-repeat;background-size:24px 96px;}
.rowstyle .zt_listitem .w2 .btns a.del:hover{background:url(../images/mbicons.png) 0px -48px no-repeat;background-size:24px 96px;}



.zt_list_header{height:60px;line-height:60px;background:#e9ebec;display:none;font-size:0px;font-size:14px;color:#999;}
.zt_listw.rowstyle .zt_list_header{display:block;}
.zt_list_header span{display:inline-block;vertical-align:top;}
.zt_list_header .span1{width:60%;text-indent:20px;}
.zt_list_header .span2{width:23.6%;text-align:center;}
.zt_list_header .span3{width:14%;text-align:center;}







.nzt_maintab{height:40px;border-bottom:1px solid #e4e4e4;margin-bottom:30px;}
.nzt_maintabitem{display:inline-block;vertical-align:top;height:36px;line-height:36px;font-size:14px;border-top:2px solid #f6f8f9;border-bottom:2px solid #f6f8f9;margin-right:32px;color:#1a1a1a;cursor:pointer;transition:all ease 0.1s;}
.nzt_maintabitem:hover{color:#00c1de;}
.nzt_maintabitem.current{display:inline-block;vertical-align:top;height:36px;line-height:36px;font-size:14px;border-top:2px solid #f6f8f9;border-bottom:2px solid #00c1de;margin-right:32px;color:#00c1de;}
.nzt_maintabw{position:relative;}



.nzt_search_formw{position:absolute;right:0px;top:12px;height:36px;width:244px;background:#fff;box-sizing:border-box;border-radius:4px;border:1px solid #e4e4e4;font-size:0px;}
.nzt_search_formw input[type="text"]{height:22px;padding:7px;border:0px;background:none;width:192px;display:inline-block;vertical-align:top;font-size:14px;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.nzt_search_formw input[type="submit"]{height:24px;width:24px;border:0px;margin:6px 0px 0px 4px;background:none;cursor:pointer;display:inline-block;vertical-align:top;background:url(../images/searchicon.png) 0px 0px no-repeat;background-size:24px 48px;}
.nzt_search_formw input[type="submit"]:hover{background:url(../images/searchicon.png) 0px -24px no-repeat;background-size:24px 48px;}



.nzt_upload_formw{position:absolute;right:0px;top:14px;height:36px;}
.nzt_upload_formw .uploadimgbtnw p{font-size:12px;color:#999;line-height:36px;display:inline-block;vertical-align:top;}
.uploadimgbtn{height:36px;width:100px;background:#353843;color:#fff;display:inline-block;vertical-align:top;margin-left:16px;cursor:pointer;text-align:center;line-height:36px;}
.uploadimgbtn:hover{background:#000;}


.nzt_pagew{height:30px;text-align:right;font-size:0px;padding:60px 0px;position:relative;}
.nzt_pagew .prev,.nzt_pagew .next{height:28px;line-height:28px;width:28px;text-align:center;border-radius:2px;border:1px solid #e4e4e4;background:#fff;font-size:10px;color:#999;display:inline-block;vertical-align:top;cursor:pointer;}
.nzt_pagew .prev:hover,.nzt_pagew .next:hover{color:#787878;}
.nzt_pagew span{display:inline-block;vertical-align:top;height:28px;padding:0px 12px;line-height:28px;font-size:14px;color:#999;}
.nzt_pagew form{display:inline-block;vertical-align:top;font-size:14px;}




.nzt_pagew form input[type="number"]{height:28px;padding:0px;border:0px;background:#fff;border:1px solid #e4e4e4;border-radius:2px;width:64px;text-align:center;display:inline-block;vertical-align:top;font-size:14px;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);margin:0px 8px;}
.nzt_pagew form input[type="submit"]{box-sizing:content-box;height:28px;padding:0px;border:0px;border-radius:2px;background:#fff;border:1px solid #e4e4e4;width:48px;text-align:center;display:inline-block;vertical-align:top;font-size:14px;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);cursor:pointer;}
.nzt_pagew form input[type="submit"]:hover{background:#00c1de;color:#fff;border:1px solid #00c1de;}


.nzt_pagew .checkedtips{display:block;height:30px;line-height:30px;color:#999;position:absolute;left:0px;top:0px;font-size:14px;}




.failtips{height:40px;background:#f96;color:#fff;padding:0px 44px;font-size:16px;line-height:40px;text-align:center;position:fixed;left:50%;top:-40px;transform: translate(-50%, 0%);-webkit-transform: translate(-50%, 0%);transition:all ease 0.2s;z-index:3000;}
.failtips.show{top:0px;}

.succtips{height:40px;background:#00c1de;color:#fff;width:100%;font-size:16px;line-height:40px;text-align:center;position:fixed;left:0%;bottom:-40px;transition:all ease 0.2s;z-index:990;}
.succtips.show{bottom:112px;}



.bottombtnw{height:88px;width:100%;}
.bottombtnw input[type="submit"],.bottombtnw a{display:block;position:fixed;right:60px;bottom:60px;background:#00c1de;height:88px;width:88px;line-height:88px;z-index:2000;border-radius:44px;border:0px;text-align:center;color:#fff;font-size:14px;cursor:pointer;box-shadow:0px 3px 4px rgba(0,0,0,0.1);outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.bottombtnw input[type="submit"]:hover,.bottombtnw a:hover{background:#00a6bf;}



.nzt_path{height:40px;position:relative;margin-bottom:10px;}
.nzt_path a{display:inline-block;vertical-align:top;font-size:14px;line-height:32px;color:#999;height:32px;padding:0px 10px;border:1px solid #e4e4e4;border-radius:2px;margin-top:3px;background:#fff;}
.nzt_path a:hover{background:#00c1de;color:#fff;border:1px solid #00c1de;}




.zttj_listw{border:1px solid #e4e4e4;background:#fff;margin-top:16px;}
.zttj_list_header{height:60px;line-height:60px;background:#e9ebec;font-size:0px;color:#999;}
.zttj_list_header span{display:inline-block;vertical-align:top;font-size:14px;text-align:center;}
.zttj_list_header .span1{width:49%;text-align:left;text-indent: 20px;}
.zttj_list_header .span2{width:30%;}
.zttj_list_header .span3{width:10%;}
.zttj_list_header .span4{width:10%;}

.zttj_listitem{border-bottom:1px solid #e4e4e4;font-size:0px;}
.zttj_listitem:last-child{border:0px;}
.zttj_listitem .c{display:inline-block;vertical-align:top;height:100px;line-height:100px;font-size:13px;color:#1a1a1a;text-align:center;}
.zttj_listitem .c1{width:49%;box-sizing:border-box;padding-left:156px;position:relative;}
.zttj_listitem .c2{width:30%;}
.zttj_listitem .c2 span{
	font-size: 13px;
    line-height: 19px;
    height: 38px;
    color: #1a1a1a;
    padding: 0px 20px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    text-align: center;
}
.zttj_listitem .c3{width:10%;}
.zttj_listitem .c4{width:10%;cursor: pointer;color: red;}
.zttj_listitem .c5{width:10%;}
.zttj_listitem .c1 img{display:block;height:60px;width:136px;position:absolute;left:20px;top:20px;}
.zttj_listitem .c1 strong{font-size:13px;line-height:19px;height:38px;color:#1a1a1a;padding:0px 20px;text-align:left;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow:hidden;text-overflow:ellipsis;margin-top:20px;}
.zttj_listitem .c1 span{display:block;height:22px;line-height:22px;color:#999;font-size:12px;text-align:left;padding:0px 20px;}



.nzt_sclistw{margin-top:16px;}
.nzt_sclistitem{height:150px;width:150px;margin:0px 16px 32px 0px;position:relative;display:inline-block;vertical-align:top;}
.nzt_sclistw .imgw{border:1px solid #e4e4e4;background:#fff;height:148px;width:148px;position:relative;}
.nzt_sclistw .imgw img{display:block;max-height:148px;max-width:148px;margin:auto;left:0px;top:0px;bottom:0px;right:0px;position:absolute;}
.nzt_sclistw .imggs{height:20px;position:absolute;right:1px;bottom:1px;background:rgba(0,0,0,0.6);color:#fff;font-size:12px;line-height:20px;padding:0px 5px;display:block;}
.nzt_sclistw .tools{height:28px;width:40px;position:absolute;right:0px;top:0px;}
.nzt_sclistw .tools .i{color:rgba(0,0,0,0.6);height:28px;width:40px;line-height:28px;text-align:center;font-size:14px;font-weight:600;display:block;}
.nzt_sclistw .tools .tools_del{height:28px;line-height:28px;position:absolute;right:12px;top:28px;display:none;border:1px solid #e4e4e4;font-size:12px;width:56px;text-align:center;background:#fff;cursor:pointer;}
.nzt_sclistw .tools:hover .tools_del{display:block;}
.nzt_sclistw .tools .tools_del:hover{color:#00c1de;}


.nzt_sclistitem .imgcheckcover{position:absolute;left:0px;top:0px;background:rgba(0,0,0,0.6) url(../images/checkedtips.png) center no-repeat;background-size:60% auto;height:100%;width:100%;display:none;}
.nzt_sclistitem.current .imgcheckcover{display:block;}

.editer_fmtw{width:760px;border:1px solid #e4e4e4;background:#fff;padding:30px 0px;margin-top:10px;font-size:0px;}
.editer_fmt1{width:320px;display:inline-block;vertical-align:top;padding-left:60px;}
.editer_fmt1 .t{font-size:12px;color:#1a1a1a;line-height:36px;height:36px;display:inline-block;vertical-align: top;padding-right:20px;}
.editer_fmt1 .checkfmtbtn{height:36px;line-height:36px;display:inline-block;vertical-align:top;font-size:14px;color:#1a1a1a;border:1px solid #e4e4e4;padding:0px 24px;background:#fff;transition:all ease 0.1s;}
.editer_fmt1 .checkfmtbtn:hover{background:#00c1de;border:1px solid #00c1de;color:#fff;}

.editer_fmt2{width:320px;display:inline-block;vertical-align:top;padding-right:60px;text-align:right;}
.editer_fmt2 .t{font-size:12px;color:#1a1a1a;line-height:36px;height:36px;display:inline-block;vertical-align: top;padding-right:20px;}
.editer_fmt2 .imgw{height:100px;width:228px;display:inline-block;vertical-align:top;}
.editer_fmt2 .imgw img{height:100px;width:228px;display:block;}



.main_editer_bottombarw{height:112px;width:100%;}
.main_editer_bottombar{height:112px;width:100%;position:fixed;box-sizing:border-box;border-top:1px solid #e4e4e4;background:#fff;z-index:1000;bottom:0px;left:0px;text-align: center;font-size:0px;}

.meb_btn{background:#353843;width:120px;color:#fff;height:36px;display:inline-block;vertical-align:top;font-size:0px;position:relative;margin:38px 20px;}
.meb_btn .btn{display:inline-block;vertical-align:top;height:36px;width:84px;line-height:36px;color:#fff;font-size:12px;}
.meb_btn .btn2{width:120px;}
.meb_btn .btn:hover{background:#000;}
.meb_btn .arrow{height:36px;width:35px;display:inline-block;vertical-align:top;border-left:1px solid rgba(255,255,255,0.1);position:relative;}
.meb_btn .arrow:hover{background:#000;}


.meb_btn .arrow .i{color:#fff;text-align:center;line-height:36px;font-size:14px;}
.meb_btn .arrow .btn_morew{width:120px;height:34px;border:1px solid #e4e4e4;font-size:12px;color:#1a1a1a;line-height:34px;box-sizing:border-box;position:absolute;right:0px;top:36px;display:none;}
.meb_btn .arrow .btn_morew .btn_more{display:block;color:#1a1a1a;}
.meb_btn .arrow .btn_morew .btn_more:hover{background:#e4e4e4;}
.meb_btn .arrow:hover .btn_morew{display:block;}



.editer_blackbg1{height:100%;width:100%;background:rgba(0,0,0,0.6);position:fixed;left:0px;top:0px;z-index:2010;}
.editer_alertbox1{height:600px;width:990px;background:#fff;position:relative;left:50%;top:50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);position:fixed;z-index:2011;}

.editer_blackbg2{height:100%;width:100%;background:rgba(0,0,0,0.6);position:fixed;left:0px;top:0px;z-index:2010;}
.editer_alertbox2{height:600px;width:990px;background:#fff;position:relative;left:50%;top:50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);position:fixed;z-index:2011;}


.checkimg_submitbtnw{height:36px;width:120px;position:absolute;left:50%;margin-left:-60px;bottom:0px;}
.checkimg_submitbtn{height:36px;width:120px;background:#353843;cursor:pointer;color:#fff;font-size:12px;text-align:center;line-height:36px;display:block;}
.checkimg_submitbtn:hover{background:#000;}



.ab_ewmw{width:240px;position:fixed;left:50%;top:50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);z-index:2020;background:#fff;}
.ab_ewmw img{display:block;margin:0px auto;}
.ab_ewmw p{font-size:14px;color:#1a1a1a;line-height:20px;text-align:center;padding-top:20px;}
.ab_ewmw .ab_ztlinkinput{height:36px;line-height:18px;padding:8px;border:1px solid #e4e4e4;margin:0px auto;display:block;width:200px;box-sizing:border-box;}
.ab_ewmw .ab_ztlinkinputcopybtn{height:36px;width:200px;background:#353843;color:#fff;border:0px;font-size:14px;margin:10px auto 20px;display:block;cursor:pointer;}
.ab_ewmw .ab_ztlinkinputcopybtn:hover{background:#000;}



.fbzt_tjbtnsw{padding:10px 0px;}
.fbzt_tjbtns_t{height:40px;}
.fbzt_tjbtns_t label{display:inline-block;vertical-align:top;height:40px;margin-right:20px;line-height:40px;font-size:16px;color:#1a1a1a;cursor:pointer;}
.fbzt_tjbtns_c{height:24px;background:#fff;border:1px solid #e4e4e4;padding:10px 20px;display:inline-block;vertical-align:top;}
.fbzt_tjbtns_c label{display:inline-block;vertical-align:top;height:24px;margin-right:20px;line-height:24px;font-size:14px;color:#1a1a1a;cursor:pointer;}


.fbzt_postbtnsw{padding:0px 0px 10px 0px;}
.fbzt_postbtns_t{height:40px;}
.fbzt_postbtns_t label{display:inline-block;vertical-align:top;height:40px;margin-right:20px;line-height:40px;font-size:16px;color:#1a1a1a;cursor:pointer;}
.fbzt_postbtns_c{height:46px;background:#fff;border:1px solid #e4e4e4;padding:0px;display:inline-block;vertical-align:top;}
.fbzt_postbtns_c input[type='text']{height:46px;padding:0px 20px;background:#fff;color:#1a1a1a;border:0px;font-size:14px;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

.fbzt_submitbtnw{padding:30px 0px;}
.fbzt_submitbtn{height:40px;width:100px;background:#353843;color:#fff;text-align:center;display:block;font-size:14px;cursor: pointer;border:0px;line-height:40px;}
.fbzt_submitbtn:hover{background:#000;}



.searchrecipe{position:fixed;left:0px;top:0px;height:100%;width:100%;z-index:2500;background:#fff;display:none;}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}





.cpsearch_boxw{width:100%;background:#fff;border:1px solid #e4e4e4;position:relative;z-index:500;}
.cpsearch_boxw .t1{font-size:16px;color:#1a1a1a;line-height:24px;padding:20px 30px 10px;}
.cpsearch_boxw .dls{font-size:0px;margin:0px 30px;}
.cpsearch_boxw .dls dl{width:25%;display:inline-block;vertical-align:top;padding-right:40px;box-sizing:border-box;}
.cpsearch_boxw .dls dl dt{display:block;height:32px;line-height:32px;color:#999;font-size:12px;}
.cpsearch_boxw .dls dl dt .resetbtn{float:right;display:block;line-height:32px;color:#999;cursor:pointer;}
.cpsearch_boxw .dls dl dt .resetbtn:hover{color:#00c1de;text-decoration:underline;}
.cpsearch_boxw .dls dl dd{display:block;height:40px;}
.cpsearch_boxw .dls dl dd input{display:block;height:40px;line-height:22px;font-size:14px;color:#1a1a1a;padding:8px;border:1px solid #e4e4e4;box-sizing:border-box;width:100%;}
.cpsearch_boxw .dls dl dd select{display:block;height:40px;line-height:22px;font-size:14px;color:#1a1a1a;padding:8px;border:1px solid #e4e4e4;box-sizing:border-box;width:100%;}
.cpsearch_boxw .dls dl dd input.short{display:inline-block;vertical-align:top;height:40px;line-height:22px;font-size:14px;color:#1a1a1a;padding:8px;border:1px solid #e4e4e4;box-sizing:border-box;width:40%;}
.cpsearch_boxw .dls dl dd .to{display:inline-block;height:40px;line-height:40px;color:#1a1a1a;padding:0px 6px;font-size:10px;}

.cpsearch_boxw .dls .line{background:#f5f5f5;height:1px;width:100%;font-size:0px;margin:20px 0px 8px;}
.cpsearch_boxw .cb_slider{display:block;height:16px;line-height:16px;position:absolute;right:30px;top:20px;font-size:14px;color:#999;cursor:pointer;}
.cpsearch_boxw .cb_slider:hover{color:#1a1a1a;text-decoration: underline;}



.cpsearch_boxw .submitw{text-align:center;padding:20px 0px 30px;}
.cpsearch_boxw .submitw input[type='submit']{background:#353843;border:0px;color:#000;height:36px;width:100px;text-align:center;line-height:36px;cursor:pointer;color:#fff;display:inline-block;vertical-align:top;}
.cpsearch_boxw .submitw input:hover{background:#000;}



.cb_cplist{width:100%;box-sizing:border-box;position:relative;background:#fff;border:1px solid #e4e4e4;margin-top:20px;}
.cb_cplist_headerw{height:60px;background:#e9ebec;font-size:0px;}
.cb_cplist_headerw .t{display:inline-block;vertical-align:top;line-height:60px;font-size:12px;color:#999;text-align:center;}

.cb_cplist_headerw .t1{width:10%;text-align:left;padding-left:20px;box-sizing:border-box;}
.cb_cplist_headerw .t2{width:10%;}
.cb_cplist_headerw .t3{width:16%;}
.cb_cplist_headerw .t4{width:10%;}
.cb_cplist_headerw .t5{width:14%;}
.cb_cplist_headerw .t6{width:10%;}
.cb_cplist_headerw .t7{width:10%;}
.cb_cplist_headerw .t8{width:10%;}
.cb_cplist_headerw .t9{width:10%;}


.cb_cplist_bodyw{display:table;width:100%;border-collapse: collapse}
.cb_cplist_rw{border-bottom:1px solid #e4e4e4;font-size:0px;display:table-row;width:100%;}
.cb_cplist_rw:last-child{border-bottom:0px;}

.cb_cplist_bodyw .c{line-height:22px;font-size:14px;color:#1a1a1a;text-align:center;padding:14px 0px;display:table-cell;vertical-align:middle;}

.cb_cplist_bodyw .c1{width:10%;text-align:left;padding-left:20px;box-sizing:border-box;}
.cb_cplist_bodyw .c2{width:10%;}
.cb_cplist_bodyw .c2 .imgw{width:80px;height:80px;position:relative;overflow:hidden;position:relative;display:inline-block;vertical-align:top;}
.cb_cplist_bodyw .c2 .imgw img{display:block;width:100%;position:absolute;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);left:50%;top:50%;}
.cb_cplist_bodyw .c3{width:16%;}
.cb_cplist_bodyw .c4{width:10%;}
.cb_cplist_bodyw .c5{width:14%;}
.cb_cplist_bodyw .c6{width:10%;}
.cb_cplist_bodyw .c7{width:10%;}
.cb_cplist_bodyw .c8{width:10%;}
.cb_cplist_bodyw .c9{width:10%;}


.cb_cplist .checker,.cb_cplist .checker_all{display:inline-block;height:16px;width:16px;border-radius:2px;position:relative;top:3px;margin-right:6px;color:#fff;line-height:16px;cursor:pointer;background:url(../images/checker.png) 0px -16px no-repeat;}
.cb_cplist .checked,.cb_cplist .checker_all.checked{background:url(../images/checker.png) 0px 0px no-repeat;}



.dls_timechecker{height:40px;width:100%;box-sizing:border-box;}

.dls_timechecker_s1{border:1px solid #e4e4e4;height:40px;width:100%;box-sizing:border-box;position:relative;}
.dls_timechecker_s1 .t{height:40px;line-height:24px;color:#1a1a1a;font-size:14px;padding:8px;box-sizing:border-box;}
.dls_timechecker_s1_selectw{border:1px solid #e4e4e4;width:100%;position:absolute;left:-1px;top:38px;background:#fff;display:none;}
.dls_timechecker_s1_selectw span{display:block;height:40px;line-height:40px;padding:0px 20px;box-sizing:border-box;font-size:14px;color:#1a1a1a;cursor:pointer;}
.dls_timechecker_s1_selectw span:hover{background:#f5f5f5;}
.dls_timechecker_s1_selectw a{display:block;height:40px;line-height:40px;padding:0px 20px;box-sizing:border-box;font-size:14px;color:#1a1a1a;background:#f5f5f5;text-align:center;border-top:1px solid #e4e4e4;}
.dls_timechecker_s1_selectw a:hover{background:#e4e4e4;}






















